<%= @geocoder %>

<!-- UPCOMING ELECTIONS SECTION -->
<div class="row">
	<h2>Upcoming Elections</h2>
	<% if @elections.size == 0 %>
		<div class="panel panel-primary">
			<div class="panel-heading">No upcoming elections found</div>
			<div class="panel-body">Please allow up to 3-4 weeks before an election for us to post more information about them. For now, please check out the various districts below that you are a member of.</div>
		</div>
	<% else %>
		<% elections.each do |election| %>
			<div class="panel panel-primary">
				<div class="panel-heading"><%= election.date %></div>
				<div class="panel-body"><%= election.description %></div>
			</div>
		<% end %>
	<% end%>
</div>

<!-- DISTRICT INFO SECTION -->
<div class="row">
	<h2>Learn about your districts</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	<% districts.each %>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	          <%= district.type = ": " + district.name %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	      	<!-- TODO: Add maps method for static district map image -->
	      	<img class="img-responsive district-image" src="http://placehold.it/250x250">
	      	<% if district.description %>
		      	<h3>District Info</h3>
	      		<p><%= district.description %></p>
	      	<% end %>
	      	<% if district.representative %>
		      	<h3>Representative(s)</h3>
	      		<p><%= district.representative %></p>
	      	<% end %>
	      	<h3>Get Involved</h3>
	      	Link to external site
	      	<h3>Updates</h3>
	      	Insert RSS/Twitter feed
	      </div>
	    </div>
	  </div>
	<% end %>
	</div>
</div>

